@import url(_reset.css);
@import url(_variaveis.css);
@import url(../components/whatsapp.css);
@import url(../components/botao.css);
@import url(../components/modal.css);
@import url(../components/card.css);
@import url(../about.css);
@import url(../project.css);
@import url(../skill.css);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
/*================= Menu ==========================*/
.barra-menu{
	width: 270px;
	height: 100%;
	background: rgba(196, 196, 196, 0.11);
		background-image: initial;
		background-position-x: initial;
		background-position-y: initial;
		background-size: initial;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: rgba(196, 196, 196, 0.11);
	backdrop-filter: blur(10px); /*efeito da imagem por tras da barra */
	position: fixed;
	top: 0;
	z-index: 4;
}
.menu-centro nav{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}	
.list-menu li{
	width: 50%;
	margin: 0 auto;
	border-bottom: solid 1px rgba(255, 255, 255, 0.452); /*linha da barra */
	margin-bottom: 1.5rem;
	color: #fff;
}
.list-menu a{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	color: #fff;
	text-decoration: none;
}
.list-menu a img{
	width: 45px;
}

/*transição das telas*/
body{
	overflow-x: hidden;
}
.telas {
	display: flex;
	width: 400vw;
}

.tela1-home {
	width: 100vw;
}

.tela2-about {
	width: 100vw;
}

.tela3-project {
	width: 100vw;
}
.tela4-skill{
	width: 100vw;
}



/*Responsivo

@media(min-width: 800px) {
	.container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;	
	}
}

@media(min-width: 1200px) {
	.container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
}
*/
