.nav-botao {
    margin: 3em auto 0;
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
}

.nav-botao button {
    font-family: 'Henny Penny', cursive;
    background-color: #2f4f4f;
    padding: 1vh 2vw;
    border: outset 0.5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}
.nav-botao button a{
    color: #fff;
}

.nav-botao button:hover {
    background-color: #3e8e41
}

.nav-botao button:active {
    transform: translateY(4px);
}