@import url(_reset.css);
@import url(_variaveis.css);
@import url(base/base.css);

body {
    background-image: url("../img/caverna-dungeon-com-túmulo.gif");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    object-fit: cover;
}
.container-main-home{
    /* background-color: #354650; */
    display: flex;
    margin: .5rem 0 0 280px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: #2c71e1;

}
.trajetoria h1, .trajetoria h2, .trajetoria p{
    margin-bottom: 1.7rem;
    font-size: 1.3em;
    text-align: center;
}

.trajetoria h1, .trajetoria span {
    font-family: Clicker Script, cursive;
    color: #2c71e1;
    font-size: 1.67em;
    font-weight: bolder;
}


.trajetoria h2{
    color: #2c71e1;
    font-weight: bolder;
}
.trajetoria p{
    color: #2c71e1;

}

/*traçado pela foto 
figure {
    ::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-top: solid 5px white;
        border-left: solid 5px white;
        display: block;
        background-color: #354650;
    } 
    
    ::after {
        content: '';
        position: absolute;
        right: 0%;
        top: 190px;
        width: 40px;
        height: 40px;
        border-bottom: solid 5px white;
        border-right: solid 5px white;
        display: block;
        background-color: #354650;
    }
}
*/
    

.img-foto-home {
    position: relative;
    z-index: 1;
    width: 200px;
}