@import url(base/base.css);

.tela1-home {
    background-image: url("../img/caverna-dungeon-com-túmulo.gif");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    object-fit: cover;
}
.container-main-home{
    /* background-color: #354650; */
    text-align: center;
    display: flex;
    margin: .5rem 0 0 280px;
    height: 90vh;
    align-items: center;
    color: #2c71e1;

}
.titulo-home{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}
.span-home {
    font-family: Clicker Script, cursive;
    font-size: 1em;
    font-weight: bolder;
}
.subtitulo-home{
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.text-home{
    margin-bottom: 1.5rem;
    font-size: 1.5em;
}

/*traçado pela foto 
figure {
    ::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-top: solid 5px white;
        border-left: solid 5px white;
        display: block;
        background-color: #354650;
    } 
    
    ::after {
        content: '';
        position: absolute;
        right: 0%;
        top: 190px;
        width: 40px;
        height: 40px;
        border-bottom: solid 5px white;
        border-right: solid 5px white;
        display: block;
        background-color: #354650;
    }
}


.img-foto-home {
    position: relative;
    z-index: 1;
    width: 200px;
}

*/